@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind screens;

/*
    import components here
    using: @import "components/<name>"
*/

$border-color: #AAAAAA;
$button-color: #006EE6;
$login-color: #04173e;

@import "components/global";
@import "components/colors";

/*
    custom scss
*/

.outer-container {
    display: flex;
    justify-content: center;
};

.main-container {
    box-shadow: 0px 4px 10px rgba($color: #000000, $alpha: 0.2);
    max-width: 440px;
    width: 100%;
    border: 1px solid $border-color;
    border-radius: 5px;
};

.login-container {
    box-shadow: 0px 4px 10px rgba($color: #000000, $alpha: 0.2);
    max-width: 360px;
    width: 100%;
    height: 450px;
    margin-top: 60px;
    border: 1px solid $border-color;
    border-radius: 5px;
};

.table-list {
    padding: 20px;
};

.align-login {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
};

.card-banner {
    width: 100%;
    height: 80px;
    background-color: rebeccapurple;
    border-radius: 4px 4px 0px 0px
};

.image-holder {
    background-image: url(../../public/images/IconLock.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    border-radius: 4px 4px 0px 0px
};

.aligning {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.custom-btn {
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    color: white;
    background-color: $login-color;
}

.textfields {
    padding: 4px;
    margin-bottom: 15px;
    border: 1px solid $border-color;
    border-radius: 5px;
    max-width: 200px
};

.login-input {
    width: 100%;
    padding: 4px 8px;
    margin-bottom: 15px;
    background-color: rgba(#D9D9D9, 0.2);
    outline: 0 none;
    border-radius: 5px;
};

.captcha-box {
    background-color: red($color: #000000);
}

.captcha-checkbox {
    width: 100%;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border: 0 none;
    margin-right: 10px;
}

.description-textfield {
    width: 390px;
    max-width: 700px;
    height: auto;
    max-height: 300px;

    padding: 2px;
    border: 1px solid $border-color;
    border-radius: 5px;
};

.table-row {
    padding: 4px;
}

.register-indicator {
    font-size: 15px;
    color: #646464;
}

a {
    color: #006EE6;
}

.pagination-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-custom {
    background-color: #006EE6;
    color: white;
    padding: 8px 14px;
    border-radius: 5px;
    max-width: 400px;
    min-width: 100px;
}

.btn-custom-disabled {
    background-color: #4a5568;
    color: white;
    padding: 8px;
    border-radius: 5px;
    max-width: 100px;
    width: 100%;
}

.btn-custom:hover {
    background-color: #007bff;
}

.input-number {
    width: 100px;
}

// Crud panel section
.full-screen {
    margin: 60px 20px 0px 20px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: center;
}

.crud-panel {
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
}

// .table {
//     padding: 10px;
//     col:first-child {background: #FF0}
//     col:nth-child(2n+3) {background: #CCC}
// }